.vanish {
    display: none;
}

.account__nav {
    height: 50px;
    display: flex;
    align-items: center;
}

#account__back {
    height: 40px;
    width: 120px;
    border: 0;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    background-color: #5B86E5;
    color: #fff;
    outline: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

@keyframes accountfadein {
    0% {
        opacity: 0%;
        transform: translate(150%, 0);
    }
    100% {
        opacity: 100%;
        transform: translate(0%, 0);
    }
}

#account {
    width: 850px;
    height: 550px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #d4e8f2;
    animation: accountfadein 0.5s ease forwards;
}

.account__wrapper {
    margin-top: 50px;
}

.account__wrapper > div, .account__wrapper p, .account__birth-mod, .account__affi-mod {
    margin-bottom: 10px;
}

#account > .fa-user-circle {
    position: absolute;
    right: -2%;
    bottom: -5%;
    font-size: 400px;
    color: rgba(255, 255, 255, 0.3);
}

.name__label, .id__label, .pw__label, .birth__label, .affi__label {
    font-size: 18px;
    font-weight: 700;
    opacity: 60%;
}