.index__prime {
    height: 1000px;
    background: linear-gradient(180deg, #5B86E5, 85%, #fff);
}

@keyframes signfadein {
    0% {
        opacity: 0%;
        transform: translate(0%, 100%);
    }
    100% {
        opacity: 100%;
        transform: translate(0%, 0);
    }
}

.sign {
    width: 1000px;
    margin: 0 auto;
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.7);
    animation: signfadein 0.5s ease forwards;
}

#sign__signup, #sign__signin {
    width: 400px;
    height: 500px;
    position: relative;
}

.sign__row {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.sign__row > .affi__wrapper {
    display: flex;
    justify-content: space-between;
}

label {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
}

input, select {
    height: 30px;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    font-size: 14px;
    font-weight: 500;
    outline: none;
}

@keyframes focus {
    0% {
        background-color: #fff;
        color: #000;
    }
    100% {
        background-color: #5B86E5;
        color: #fff;
    }
}

input:focus, select:focus {
    animation: focus 0.3s linear forwards;
}

.input__error {
    background-color: #ffdada;
    border: 1px solid #ff0000;
}

.signup__birth {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
}

#signup__submit, #signin__submit {
    height: 40px;
    padding: 0 40px;
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translate(-50%, 0);
    border: 0;
    color: #fff;
    background-color: #5B86E5;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

@keyframes hover {
    0% {
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
    }
    50% {
        box-shadow: 0 0 30px rgba(57, 133, 233, 0.8);
    }
    100% {
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
    }
}

#signup__submit:hover, #signin__submit:hover, #backtoprime:hover {
    animation: hover 3s linear infinite forwards;
}

#forget {
    font-size: 12px;
}

.index__first {
    height: 1565px;
    background-color: #fff;
}

.index__wrapper {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
}

.index__firtitle {
    margin-top: 50px;
    text-align: center;
    font-size: 55px;
    font-weight: 900;
    line-height: 1.5em;
    color: #060624;
}

.fir-1__wrapper {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.fir-1__box {
    width: 575px;
    height: 1200px;
    margin-right: 50px;
    position: relative;
    background: linear-gradient(180deg, #5B86E5, 25%, #060624)
}

.fir-1 {
    position: absolute;
    left: 20px;
    top: 100px;
    font-size: 48px;
    font-weight: 900;
    color: #fff;
    text-shadow: 1px 2px 10px rgba(0,0,0,0.2);
}

@keyframes glow {
    0% {
        text-shadow: 0 0 10px rgba(0,0,0,0.2);
    }
    50% {
        text-shadow: 0 0 30px rgba(57, 133, 233, 0.8);
    }
    100% {
        text-shadow: 0 0 10px rgba(0,0,0,0.2);
    }
}

.fa-desktop {
    position: absolute;
    left: 50%;
    bottom: 25%;
    font-size: 200px;
    color: #fff;
    transform: translate(-50%, 50%);
    animation: glow 5s linear infinite forwards;
}

.fir-2__box {
    width: 575px;
    height: 575px;
    margin-bottom: 50px;
    position: relative;
    background: linear-gradient(180deg, #5B86E5, 40%, #060624)
}

@keyframes moving__one {
    0% {
        transform: translate(-50%, -45%);
    }
    50% {
        transform: translate(-50%, -55%);
    }
    100% {
        transform: translate(-50%, -45%);
    }
}

#fir-1__img {
    width: 550px;
    position: absolute;
    top: 250px;
    left: 230px;
    transform: translate(-50%, -50%);
    animation: moving__one 10s ease-in-out infinite forwards;
}

.fir-3__box {
    width: 475px;
    height: 475px;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #060624;
}

.fir-3 {
    font-size: 30px;
    font-weight: 900;
    line-height: 1.5em;
    text-align: center;
    color: #fff;
}

.index__second {
    height: 900px;
    background-color: #060624;
}

@keyframes moving__two {
    0% {
        transform: translate(-1%, 1%);
    }
    50% {
        transform: translate(1%, -1%);
    }
    100% {
        transform: translate(-1%, 1%);
    }
}

#sec-1__img {
    position: absolute;
    top: -50px;
    right: -100px;
    -webkit-filter: brightness(10);
    opacity: 50%;
    animation: moving__two 10s ease-in-out infinite forwards;
}

.index__sectitle {
    margin-top: 300px;
    text-align: center;
    font-size: 80px;
    font-weight: 900;
    color: #fff;
    text-shadow: 1px 2px 10px rgba(0,0,0,0.2);
}

.sec-1__box {
    width: 1200px;
    margin-top: 300px;
    background-color: #060624;
}

.sec-1 {
    font-size: 30px;
    font-weight: 900;
    line-height: 1.5em;
    color: #fff;
}

.index__third {
    height: 830px;
    background-color: #fff;
}

.thi-1__wrapper {
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.thi-1__col {
    margin-top: 70px;
    width: 600px;
    height: 700px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    border-right: 1px solid #060624;
}

.box {
    margin-top: 50px;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.index__third .fas {
    font-size: 55px;
    color: #060624;
    margin-bottom: 20px;
}

.thi-1, .thi-2, .thi-3 {
    font-size: 22px;
    font-weight: 900;
    margin-bottom: 10px;
}

.thi-1_sub, .thi-2_sub, .thi-3_sub {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    opacity: 70%;
}

.thi-2__col {
    position: relative;
}

.index__thititle {
    margin-top: 50px;
    margin-left: 100px;
    font-size: 48px;
    font-weight: 900;
    line-height: 1.5em;
    color: #060624;
}

#backtoprime {
    height: 40px;
    padding: 0 40px;
    position: absolute;
    left: 100px;
    bottom: 50%;
    border: 0;
    color: #fff;
    background-color: #5B86E5;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

#footer {
    height: 150px;
    background-color: #060624;
}

.footer__wrapper {
    width: 1200px;
    padding-bottom: 20px;
    margin: 0 auto;
    border-bottom: 1px solid #fff;
    display: flex;
    justify-content: space-between;
}

.footer__logo {
    width: 300px;
    margin-top: 40px;
}

.footer__info {
    margin-top: 40px;
}

#team__logo {
    font-family: 'Gugi', cursive;
    font-size: 36px;
    color: #fff;
}

#team__info {
    font-weight: 900;
    font-size: 15px;
    text-align: right;
    line-height: 1.5em;
    color: #fff;
}