@import "reset.css";
@import "header.css";
@import "index.css";
@import "account.css";
@import "chat.css";
@import "chat_counseler.css";
@import "chat_modal.css";
@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*font-family: 'Gugi', cursive;
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Roboto', sans-serif;*/

*{
    font-family: 'Noto Sans KR', 'Roboto', sans-serif;
}